@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3399ff;
}
#root {
  margin: 0 auto;
  max-width: 900px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.circle {
  position: absolute;
  border-radius: 50%;
  background: white;
  z-index: -1;
  box-shadow: 0px 0px 1px 0px #508fb9;
}

.small {
  width: 200px;
  height: 200px;
  right: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  right: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  right: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  right: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  right: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}
